@font-face {
  font-family: 'font1';
  src: url('../fonts/ProggyClean.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font2';
  src: url('../fonts/smallest_pixel-7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color: #1c1b22;
  height: 100%;
  font-family: 'font1', sans-serif;
  color: #bdbdbd;
}

.container {
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(14, 14, 14, 0.808);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: clamp(12px, 10vw, 24px);
  z-index: 9999;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.overlay img {
  max-width: 120px;
  margin-bottom: 20px;
  user-select: none;
  pointer-events: none
}
  
.overlay.fade-out {
  opacity: 0;
  pointer-events: none;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0.3rem 2rem;
  background-color: #111111b3;
  box-shadow: 0 2px 5px #111111b3
}

.button-group {
  display: flex;
  align-items: center; /* ensures vertical centering */
  gap: 0.5rem;
}

.button-group button {
  font-family: "font1", monospace;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
  color: rgb(107, 107, 107);
  text-shadow: #0000007c 0 4px;
  transition: color 0.3s;
  transition: text-shadow 0.3s;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #888;
  font-size: 1rem;
  padding: 0 0.25rem;
}

.button-group button:hover {
  color: #FF00B9;
  text-shadow: #FF00B9 0 0 4px;
}

.main-title {
  font-size: clamp(40px, 10vw, 80px);
  color: #ffffff;
  line-height: 1;
  margin-bottom: 0;
}

.sub-title {
  font-size: clamp(25px, 10vw, 50px);
  color: #fff;
  line-height: 1;
  text-align: center;
}

.text {
  color: #ffffff;
  font-size: 0.8  rem;
  font-family: "font1", monospace;
  text-shadow: 0 0 4px rgba(7, 7, 7, 0.568);
}

.type {
  font-size: clamp(12px, 10vw, 24px);
  color: #bdbdbd;
  margin-bottom: 30px;
  text-align: center;
  white-space: normal;
}

.discord {
  font-size: 1rem;
  font-family: 'font1', sans-serif;
  background-color: transparent;
  color: #bdbdbd;
  border: 1px solid #bdbdbd;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: border 0.3s ease, transform 0.2s ease;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.discord:hover {
  border: 1px solid #7bafe5;
  color: #7bafe5;
  text-shadow: 0 0 4px #7bafe5;
}

.discord .button-icon {
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.discord:hover .button-icon {
  filter: invert(33%) sepia(100%) saturate(500%) hue-rotate(180deg) brightness(90%);
  transform: scale(1.1);
}

.gradient {
  background: linear-gradient(270deg, #ff0080, #FF00B9);
  text-shadow: 0 0 4px rgba(255, 72, 139, 0.7);
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shift 10s ease infinite;
}

.shadow {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.54);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 320px);
  grid-template-rows: repeat(2, 180px);
  gap: 30px;
  margin-top: 30px;
  padding-bottom: 20px;
}

.block {
  background: transparent;
  border: 1px solid #9999998a;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 10px 10px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  transition: border 0.5s ease;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  user-select: none;
}

.block .title {
  text-align: left;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 6px;
  line-height: 1.2;
  color: #fff;
}

.block .icon {
  color: #ff0000;
  width: 26px;
  height: 26px;
  display: inline-flex;
  align-items:normal;
  justify-content: center;
  vertical-align: middle;
}

.block .info {
  text-align: left;
  font-size: 14px;
  color: #999;
  line-height: 1.3;
  margin-bottom: 4px;
}

.block:hover {
  border: 1.4px solid #FF00B988;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  transition: border 0.5s ease;
}

.block:hover .icon {
  filter: invert(25%) sepia(79%) saturate(5982%) hue-rotate(320deg) brightness(90%) contrast(91%);
  transform: scale(1.1);
  transition: filter 0.5s ease;
}

.block:hover .title {
  color: #dc5662;
  text-shadow: 0 0 4px rgba(255, 72, 139, 0.7);
  transition: color 0.5s ease;
}

.block:hover .info {
  color: #ffffff;
  text-shadow: 0 0 4px rgba(7, 7, 7, 0.568);
  transition: color 0.5s ease;
}

.area {
  border: 1px solid #9999998a;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: transparent;
  border-radius: 12px;
  box-shadow: 0 4px 8px #0000002d;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 25px;
  transition: border 0.5s ease;
  transition: box-shadow 0.5s ease;
}

.area:hover {
  border: 1.4px solid #FF00B988;
  box-shadow: 0 10px 20px #FF00B941;
}

.area img {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 20px;
}

.content {
  flex-grow: 1;
}

.content .title {
  text-align: left;
  color: #fff;
  text-shadow: 0 0 4px #202020;
  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
}

.area:hover .title {
  color: #dc5662;
  text-shadow: 0 0 4px #FF00B9;
}

.status {
  text-align: right;
}

.status span {
  display: block;
  margin-bottom: 4px;
}

.footer {
  text-align: center;
  padding: 1rem;
  color: #fff;
  background-color: #111111b3;
  font-size: 0.9rem;
  position: relative;
  z-index: 10;
}

@keyframes shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
